<!DOCTYPE html>
<html>

    <header>
            <link rel="stylesheet" href="css/styles.css">
            <link rel="icon" href="/img/weather.png">   
            <title>Weather</title>

    </header>

    <body>
        <div class="main-content    ">
            {{>header}}
            <h1>404</h1>
            <p>{{errormsg}}</p>
        </div>
        {{>footer}}
    </body>
</html>